name: Backup

on:
  workflow_call:
    inputs:
      src-repository:
        required: true
        type: string
      dest-repository:
        required: true
        type: string
      tag:
        required: true
        type: string
      tag-suffix:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      src-repository:
        required: true
        default: "vulsio/vuls-data-db"
        type: choice
        options:
          - vulsio/vuls-data-db
          - vulsio/vuls-data-db-archive
          - vulsio/vuls-data-db-backup
      dest-repository:
        required: true
        default: "vulsio/vuls-data-db-backup"
        type: choice
        options:
          - vulsio/vuls-data-db
          - vulsio/vuls-data-db-archive
          - vulsio/vuls-data-db-backup
      tag:
        required: true
        type: string
      tag-suffix:
        required: true
        default: "backup-manual"
        type: choice
        options:
          - backup-manual
          - backup-daily
          - backup-weekly
          - backup-monthly

env:
  GOEXPERIMENT: jsonv2

jobs:
  backup:
    name: Backup ghcr.io/${{ inputs.src-repository }}:${{ inputs.tag }} to ghcr.io/${{ inputs.dest-repository }}:${{ inputs.tag }}-${{ inputs.tag-suffix }}
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: Install vuls-data-update
        run: go install github.com/MaineK00n/vuls-data-update/cmd/vuls-data-update@main

      - name: Copy ghcr.io/${{ inputs.src-repository }}:${{ inputs.tag }} to ghcr.io/${{ inputs.dest-repository }}:${{ inputs.tag }}-${{ inputs.tag-suffix }}
        run: vuls-data-update dotgit registry cp --force --token ${{ secrets.GITHUB_TOKEN }} ghcr.io/${{ inputs.src-repository }}:${{ inputs.tag }} ghcr.io/${{ inputs.dest-repository }}:${{ inputs.tag }}-${{ inputs.tag-suffix }}
