name: DB

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    name: build vuls.db
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}/go
      GOEXPERIMENT: jsonv2
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@v10
        with:
          root-reserve-mb: 5120
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
          remove-codeql: "true"
          remove-docker-images: "true"

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: "stable"
          cache: false

      - name: Install Dependencies
        run: sudo apt-get update && sudo apt-get install -y jq zstd

      - name: Install vuls-data-update
        run: go install github.com/MaineK00n/vuls-data-update/cmd/vuls-data-update@main

      - name: Install vuls
        run: go install github.com/MaineK00n/vuls2/cmd/vuls@main

      - name: Build DB
        run: make -f db-main.mk db-build BRANCH=main DBPATH=./vuls.db

      - name: Save vuls.db schema_version
        id: save_scheme_version
        run: echo "schema_version=$(vuls db search metadata --dbpath ./vuls.db | jq .schema_version)" >> $GITHUB_OUTPUT

      - name: Compact vuls.db
        run: vuls db compress --dbpath ./vuls.db

      - name: Upload vuls.db to ghcr.io/vulsio/vuls-nightly-db
        run: |
          vuls db push --force --token ${{ secrets.GITHUB_TOKEN }} ghcr.io/vulsio/vuls-nightly-db:${{ steps.save_scheme_version.outputs.schema_version }} ./vuls.db.zst
          vuls db push --force --token ${{ secrets.GITHUB_TOKEN }} ghcr.io/vulsio/vuls-nightly-db:latest ./vuls.db.zst
