name: DB(Nightly)

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    name: build vuls.db
    runs-on: ubuntu-latest
    env:
      GOEXPERIMENT: jsonv2
    steps:
      - name: Maximize build space
        uses: AdityaGarg8/remove-unwanted-software@v5
        with:
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
          remove-codeql: "true"
          remove-docker-images: "true"
          remove-large-packages: "true"
          remove-cached-tools: "true"
          remove-swapfile: "true"

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: "stable"
          cache: false

      - name: Install Dependencies
        run: sudo apt-get update && sudo apt-get install -y jq zstd

      - name: Install vuls-data-update
        run: go install github.com/MaineK00n/vuls-data-update/cmd/vuls-data-update@nightly

      - name: Install vuls
        run: go install github.com/MaineK00n/vuls2/cmd/vuls@nightly

      - name: Build DB
        run: make -f db-nightly.mk db-build BRANCH=nightly DBPATH=./vuls.db

      - name: Compact vuls.db
        run: vuls db compress --dbpath ./vuls.db

      - name: Upload vuls.db to ghcr.io/vulsio/vuls-nightly-db
        run: vuls db push --force --token ${{ secrets.GITHUB_TOKEN }} ghcr.io/vulsio/vuls-nightly-db:nightly ./vuls.db.zst

  check-failures:
    name: Failure summary
    if: ${{ success() || failure() }}
    needs: [build]
    uses: ./.github/workflows/check-failures.yml
    permissions:
      contents: read
      actions: read
