name: Extract NVD API CVE

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      branch:
        required: true
        type: choice
        options:
          - main
          - nightly

jobs:
  extract:
    name: Extract vuls-data-extracted-nvd-api-cve@${{ inputs.branch }}
    runs-on: ubuntu-latest
    env:
      GOEXPERIMENT: jsonv2
    steps:
      - name: Maximize build space
        uses: AdityaGarg8/remove-unwanted-software@v5
        with:
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
          remove-codeql: "true"
          remove-docker-images: "true"
          remove-large-packages: "true"
          remove-cached-tools: "true"
          remove-swapfile: "true"

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6
        with:
          repository: MaineK00n/vuls-data-update
          ref: ${{ inputs.branch }}

      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Install vuls-data-update
        run: go install ./cmd/vuls-data-update

      - name: Pull ghcr.io/${{ github.repository }}:vuls-data-raw-nvd-api-cve
        run: vuls-data-update dotgit pull --dir . --checkout main --restore ghcr.io/${{ github.repository }}:vuls-data-raw-nvd-api-cve

      - name: Pull ghcr.io/${{ github.repository }}:vuls-data-raw-nvd-api-cpematch
        run: vuls-data-update dotgit pull --dir . --checkout main --restore ghcr.io/${{ github.repository }}:vuls-data-raw-nvd-api-cpematch

      - name: Pull ghcr.io/${{ github.repository }}:vuls-data-extracted-nvd-api-cve
        run: vuls-data-update dotgit pull --dir . --checkout ${{ inputs.branch }} ghcr.io/${{ github.repository }}:vuls-data-extracted-nvd-api-cve

      - name: Extract
        run: vuls-data-update extract nvd-api-cve --dir ghcr.io/${{ github.repository }}/vuls-data-extracted-nvd-api-cve ghcr.io/${{ github.repository }}/vuls-data-raw-nvd-api-cve ghcr.io/${{ github.repository }}/vuls-data-raw-nvd-api-cpematch

      - name: Set Git config
        run: |
          git -C ghcr.io/${{ github.repository }}/vuls-data-extracted-nvd-api-cve config gc.auto 0
          if git -C ghcr.io/${{ github.repository }}/vuls-data-extracted-nvd-api-cve remote | grep -q "^origin$"; then
            git -C ghcr.io/${{ github.repository }}/vuls-data-extracted-nvd-api-cve remote set-url origin ghcr.io/${{ github.repository }}:vuls-data-extracted-nvd-api-cve
          else
            git -C ghcr.io/${{ github.repository }}/vuls-data-extracted-nvd-api-cve remote add origin ghcr.io/${{ github.repository }}:vuls-data-extracted-nvd-api-cve
          fi
          git -C ghcr.io/${{ github.repository }}/vuls-data-extracted-nvd-api-cve config user.email "action@github.com"
          git -C ghcr.io/${{ github.repository }}/vuls-data-extracted-nvd-api-cve config user.name "GitHub Action"

      - name: Commit
        run: |
          if [[ -n $(git -C ghcr.io/${{ github.repository }}/vuls-data-extracted-nvd-api-cve status --porcelain) ]]; then
            git -C ghcr.io/${{ github.repository }}/vuls-data-extracted-nvd-api-cve add .
            git -C ghcr.io/${{ github.repository }}/vuls-data-extracted-nvd-api-cve commit -m "update" -m "GitHub Actions: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/job/${{ job.check_run_id }}"
          fi

      - name: Create dotgit tarball
        run: vuls-data-update dotgit compress ghcr.io/${{ github.repository }}/vuls-data-extracted-nvd-api-cve

      - name: Push ghcr.io/${{ github.repository }}:vuls-data-extracted-nvd-api-cve
        run: vuls-data-update dotgit registry push --force --token ${{ secrets.GITHUB_TOKEN }} ghcr.io/${{ github.repository }}:vuls-data-extracted-nvd-api-cve vuls-data-extracted-nvd-api-cve.tar.zst
