name: Fetch EPSS

on:
  workflow_call:
  workflow_dispatch:

env:
  GOEXPERIMENT: jsonv2

jobs:
  fetch:
    name: Fetch vuls-data-raw-epss
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@v10
        with:
          root-reserve-mb: 32768
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
          remove-codeql: "true"
          remove-docker-images: "true"

      - name: Check out code into the Go module directory
        uses: actions/checkout@v5
        with:
          repository: MaineK00n/vuls-data-update
          ref: main

      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Install vuls-data-update
        run: go install ./cmd/vuls-data-update

      - name: Pull ghcr.io/${{ github.repository }}:vuls-data-raw-epss
        run: vuls-data-update dotgit pull --dir . --checkout main ghcr.io/${{ github.repository }}:vuls-data-raw-epss

      - name: Fetch
        run: vuls-data-update fetch epss --dir ghcr.io/${{ github.repository }}/vuls-data-raw-epss $(date --utc -d "-1 days" "+%Y-%m-%d")

      - name: Set Git config
        run: |
          if git -C ghcr.io/${{ github.repository }}/vuls-data-raw-epss remote | grep -q "^origin$"; then
            git -C ghcr.io/${{ github.repository }}/vuls-data-raw-epss remote set-url origin ghcr.io/${{ github.repository }}:vuls-data-raw-epss
          else
            git -C ghcr.io/${{ github.repository }}/vuls-data-raw-epss remote add origin ghcr.io/${{ github.repository }}:vuls-data-raw-epss
          fi
          git -C ghcr.io/${{ github.repository }}/vuls-data-raw-epss config user.email "action@github.com"
          git -C ghcr.io/${{ github.repository }}/vuls-data-raw-epss config user.name "GitHub Action"

      - name: Restore
        run: |
          deleted=$(git -C ghcr.io/${{ github.repository }}/vuls-data-raw-epss ls-files --deleted | grep -v $(date --utc -d "-1 days" "+%Y-%m-%d").json || [[ $? == 1 ]])
          if [[ -n ${deleted} ]]; then
            git -C ghcr.io/${{ github.repository }}/vuls-data-raw-epss restore ${deleted}
          fi

      - name: Commit
        run: |
          if [[ -n $(git -C ghcr.io/${{ github.repository }}/vuls-data-raw-epss status --porcelain) ]]; then
            git -C ghcr.io/${{ github.repository }}/vuls-data-raw-epss add .
            git -C ghcr.io/${{ github.repository }}/vuls-data-raw-epss commit -m "update $(date --utc -d "-1 days" "+%Y-%m-%d")" -m "GitHub Actions: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/job/${{ job.check_run_id }}"
          fi

      - name: Create dotgit tarball
        run: vuls-data-update dotgit compress ghcr.io/${{ github.repository }}/vuls-data-raw-epss

      - name: Push ghcr.io/${{ github.repository }}:vuls-data-raw-epss
        run: vuls-data-update dotgit registry push --force --token ${{ secrets.GITHUB_TOKEN }} ghcr.io/${{ github.repository }}:vuls-data-raw-epss vuls-data-raw-epss.tar.zst
