name: Fetch Fortinet CVRF

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      fetch_all:
        description: "Fetch all Fortinet CVRF"
        required: true
        default: false
        type: boolean

jobs:
  check:
    name: Decide whether to fetch all
    runs-on: ubuntu-latest
    outputs:
      do_fetch_all: ${{ steps.check.outputs.fetch_all }}
    steps:
      - name: Check if fetch_all
        id: check
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "fetch_all=${{ inputs.fetch_all }}" >> $GITHUB_OUTPUT
            exit 0
          fi

          if [[ $(( ${{ github.run_number }} % 15 )) -eq 0 ]]; then
            echo "fetch_all=true" >> $GITHUB_OUTPUT
          fi

  fetch:
    name: Fetch vuls-data-raw-fortinet-cvrf
    needs: check
    runs-on: ubuntu-latest
    env:
      GOEXPERIMENT: jsonv2
    steps:
      - name: Maximize build space
        uses: AdityaGarg8/remove-unwanted-software@v5
        with:
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
          remove-codeql: "true"
          remove-docker-images: "true"
          remove-large-packages: "true"
          remove-cached-tools: "true"
          remove-swapfile: "true"

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6
        with:
          repository: MaineK00n/vuls-data-update
          ref: main

      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Install vuls-data-update
        run: go install ./cmd/vuls-data-update

      - name: Install xq
        run: go install github.com/sibprogrammer/xq@latest

      - name: Pull ghcr.io/${{ github.repository }}:vuls-data-raw-fortinet-cvrf
        run: vuls-data-update dotgit pull --dir . --checkout main --restore ghcr.io/${{ github.repository }}:vuls-data-raw-fortinet-cvrf

      - name: Fetch All
        if: ${{ needs.check.outputs.do_fetch_all == 'true' }}
        run: vuls-data-update fetch fortinet-cvrf --dir ghcr.io/${{ github.repository }}/vuls-data-raw-fortinet-cvrf --concurrency 1 --wait 3s $(sort <(curl https://filestore.fortinet.com/fortiguard/rss/ir.xml | xq -x //item/link | xargs -L 1 basename | grep '^FG-IR-') <(find ghcr.io/${{ github.repository }}/vuls-data-raw-fortinet-cvrf/ -name "*.json" | xargs -I {} sh -c "basename {} .json") | uniq | grep -Ev '^(FG-IR-012-00[1-8]|FG-IR-013-001)$' | tr '\n' ' ')

      - name: Restore FG-IR-012-00[1-8]|FG-IR-013-001
        if: ${{ needs.check.outputs.do_fetch_all == 'true' }}
        run: |
          git -C ghcr.io/${{ github.repository }}/vuls-data-raw-fortinet-cvrf restore 2012/FG-IR-012-001.json 2012/FG-IR-012-002.json 2012/FG-IR-012-003.json 2012/FG-IR-012-004.json 2012/FG-IR-012-005.json 2012/FG-IR-012-006.json 2012/FG-IR-012-007.json 2012/FG-IR-012-008.json 2013/FG-IR-013-001.json

      - name: Fetch RSS
        if: ${{ needs.check.outputs.do_fetch_all != 'true' }}
        run: |
          vuls-data-update fetch fortinet-cvrf --dir ghcr.io/${{ github.repository }}/vuls-data-raw-fortinet-cvrf --concurrency 1 $(curl https://filestore.fortinet.com/fortiguard/rss/ir.xml | xq -x //item/link | xargs -L 1 basename | grep '^FG-IR-' | tr '\n' ' ')

      - name: Restore all deleted files
        if: ${{ needs.check.outputs.do_fetch_all != 'true' }}
        run: |
          git -C ghcr.io/${{ github.repository }}/vuls-data-raw-fortinet-cvrf restore $(git -C ghcr.io/${{ github.repository }}/vuls-data-raw-fortinet-cvrf ls-files --deleted)

      - name: Set Git config
        run: |
          git -C ghcr.io/${{ github.repository }}/vuls-data-raw-fortinet-cvrf config gc.auto 0
          if git -C ghcr.io/${{ github.repository }}/vuls-data-raw-fortinet-cvrf remote | grep -q "^origin$"; then
            git -C ghcr.io/${{ github.repository }}/vuls-data-raw-fortinet-cvrf remote set-url origin ghcr.io/${{ github.repository }}:vuls-data-raw-fortinet-cvrf
          else
            git -C ghcr.io/${{ github.repository }}/vuls-data-raw-fortinet-cvrf remote add origin ghcr.io/${{ github.repository }}:vuls-data-raw-fortinet-cvrf
          fi
          git -C ghcr.io/${{ github.repository }}/vuls-data-raw-fortinet-cvrf config user.email "action@github.com"
          git -C ghcr.io/${{ github.repository }}/vuls-data-raw-fortinet-cvrf config user.name "GitHub Action"

      - name: Commit
        run: |
          if [[ -n $(git -C ghcr.io/${{ github.repository }}/vuls-data-raw-fortinet-cvrf status --porcelain) ]]; then
            git -C ghcr.io/${{ github.repository }}/vuls-data-raw-fortinet-cvrf add .
            git -C ghcr.io/${{ github.repository }}/vuls-data-raw-fortinet-cvrf commit -m "update" -m "GitHub Actions: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/job/${{ job.check_run_id }}"
          fi

      - name: Create dotgit tarball
        run: vuls-data-update dotgit compress ghcr.io/${{ github.repository }}/vuls-data-raw-fortinet-cvrf

      - name: Push ghcr.io/${{ github.repository }}:vuls-data-raw-fortinet-cvrf
        run: vuls-data-update dotgit registry push --force --token ${{ secrets.GITHUB_TOKEN }} ghcr.io/${{ github.repository }}:vuls-data-raw-fortinet-cvrf vuls-data-raw-fortinet-cvrf.tar.zst
