name: Git GC

on:
  workflow_call:
    inputs:
      repository:
        required: true
        type: string
      tag:
        required: true
        type: string
      pack-threads:
        required: true
        default: 2
        type: number
      pack-windowMemory:
        required: true
        default: 4g
        type: string
  workflow_dispatch:
    inputs:
      repository:
        required: true
        type: choice
        options:
          - vulsio/vuls-data-db
          - vulsio/vuls-data-db-archive
          - vulsio/vuls-data-db-backup
      tag:
        required: true
        type: choice
        options:
          - vuls-data-extracted-alma-errata
          - vuls-data-extracted-alma-osv
          - vuls-data-extracted-alpine-osv
          - vuls-data-extracted-alpine-secdb
          - vuls-data-extracted-amazon
          - vuls-data-extracted-arch
          - vuls-data-extracted-cargo-ghsa
          - vuls-data-extracted-cisa-kev
          - vuls-data-extracted-eol
          - vuls-data-extracted-epss
          - vuls-data-extracted-freebsd
          - vuls-data-extracted-mitre-v5
          - vuls-data-extracted-nvd-api-cve
          - vuls-data-extracted-oracle-linux
          - vuls-data-extracted-redhat-csaf
          - vuls-data-extracted-redhat-csaf-rhel
          - vuls-data-extracted-redhat-ovalv1
          - vuls-data-extracted-redhat-ovalv1-rhel
          - vuls-data-extracted-redhat-ovalv2
          - vuls-data-extracted-redhat-ovalv2-rhel
          - vuls-data-extracted-redhat-vex
          - vuls-data-extracted-redhat-vex-rhel
          - vuls-data-extracted-rocky-errata
          - vuls-data-extracted-ubuntu-cve-tracker
          - vuls-data-raw-alma-errata
          - vuls-data-raw-alma-osv
          - vuls-data-raw-alma-oval
          - vuls-data-raw-alpine-osv
          - vuls-data-raw-alpine-secdb
          - vuls-data-raw-alt-oval
          - vuls-data-raw-amazon
          - vuls-data-raw-android-osv
          - vuls-data-raw-anolis-oval
          - vuls-data-raw-arch
          - vuls-data-raw-bitnami-osv
          - vuls-data-raw-bottlerocket
          # - vuls-data-raw-cargo-db
          - vuls-data-raw-cargo-ghsa
          - vuls-data-raw-cargo-osv
          - vuls-data-raw-cert-bund-csaf
          - vuls-data-raw-chainguard-osv
          - vuls-data-raw-chainguard-secdb
          - vuls-data-raw-cisa-coun7er
          - vuls-data-raw-cisa-csaf
          - vuls-data-raw-cisa-kev
          - vuls-data-raw-cisco-csaf
          - vuls-data-raw-cisco-cvrf
          - vuls-data-raw-cisco-json
          # - vuls-data-raw-composer-db
          - vuls-data-raw-composer-ghsa
          - vuls-data-raw-composer-glsa
          - vuls-data-raw-composer-osv
          - vuls-data-raw-conan-glsa
          - vuls-data-raw-debian-osv
          - vuls-data-raw-debian-oval
          - vuls-data-raw-debian-security-tracker-api
          - vuls-data-raw-debian-security-tracker-salsa
          - vuls-data-raw-echo
          - vuls-data-raw-endoflife-date-api
          - vuls-data-raw-endoflife-date-products
          - vuls-data-raw-epss
          - vuls-data-raw-erlang-ghsa
          - vuls-data-raw-erlang-osv
          - vuls-data-raw-exploit-exploitdb
          - vuls-data-raw-exploit-github
          - vuls-data-raw-exploit-inthewild
          - vuls-data-raw-exploit-trickest
          - vuls-data-raw-fedora
          - vuls-data-raw-fortinet
          - vuls-data-raw-fortinet-csaf
          - vuls-data-raw-fortinet-cvrf
          - vuls-data-raw-freebsd
          - vuls-data-raw-gentoo
          - vuls-data-raw-ghactions-osv
          - vuls-data-raw-git-osv
          # - vuls-data-raw-golang-db
          - vuls-data-raw-golang-ghsa
          - vuls-data-raw-golang-glsa
          - vuls-data-raw-golang-osv
          # - vuls-data-raw-golang-vulndb
          - vuls-data-raw-haskell-osv
          - vuls-data-raw-jvn-feed-detail
          - vuls-data-raw-jvn-feed-product
          - vuls-data-raw-jvn-feed-rss
          - vuls-data-raw-k8s-json
          - vuls-data-raw-k8s-osv
          - vuls-data-raw-linux-osv
          - vuls-data-raw-mageia-osv
          - vuls-data-raw-maven-ghsa
          - vuls-data-raw-maven-glsa
          - vuls-data-raw-maven-osv
          - vuls-data-raw-microsoft-advisory
          - vuls-data-raw-microsoft-azure-oval
          - vuls-data-raw-microsoft-bulletin
          - vuls-data-raw-microsoft-csaf
          - vuls-data-raw-microsoft-cvrf
          - vuls-data-raw-microsoft-deployment
          - vuls-data-raw-microsoft-msuc
          - vuls-data-raw-microsoft-product
          - vuls-data-raw-microsoft-vulnerability
          - vuls-data-raw-microsoft-wsusscn2
          - vuls-data-raw-minimos-osv
          - vuls-data-raw-minimos-secdb
          - vuls-data-raw-mitre-attack
          - vuls-data-raw-mitre-capec
          - vuls-data-raw-mitre-cvrf
          - vuls-data-raw-mitre-cwe
          - vuls-data-raw-mitre-emb3d
          - vuls-data-raw-mitre-v4
          - vuls-data-raw-mitre-v5
          - vuls-data-raw-msf
          - vuls-data-raw-ncsc-csaf
          - vuls-data-raw-netbsd
          - vuls-data-raw-nozominetworks-csaf
          # - vuls-data-raw-npm-db
          - vuls-data-raw-npm-ghsa
          - vuls-data-raw-npm-glsa
          - vuls-data-raw-npm-osv
          - vuls-data-raw-nuclei-repository
          - vuls-data-raw-nuget-ghsa
          - vuls-data-raw-nuget-glsa
          - vuls-data-raw-nuget-osv
          - vuls-data-raw-nvd-api-cpe
          - vuls-data-raw-nvd-api-cpematch
          - vuls-data-raw-nvd-api-cve
          - vuls-data-raw-nvd-feed-cpe-v1
          - vuls-data-raw-nvd-feed-cpematch-v1
          - vuls-data-raw-nvd-feed-cve-v1
          - vuls-data-raw-nvd-feed-cpe-v2
          - vuls-data-raw-nvd-feed-cpematch-v2
          - vuls-data-raw-nvd-feed-cve-v2
          - vuls-data-raw-openeuler-csaf
          - vuls-data-raw-openeuler-cvrf
          - vuls-data-raw-oracle-linux
          - vuls-data-raw-oss-fuzz-osv
          - vuls-data-raw-ox-csaf
          - vuls-data-raw-paloalto-csaf
          - vuls-data-raw-paloalto-json
          - vuls-data-raw-paloalto-list
          # - vuls-data-raw-perl-db
          - vuls-data-raw-photon-cve
          - vuls-data-raw-photon-oval
          # - vuls-data-raw-pip-db
          - vuls-data-raw-pip-ghsa
          - vuls-data-raw-pip-glsa
          - vuls-data-raw-pip-osv
          - vuls-data-raw-pub-ghsa
          - vuls-data-raw-pub-osv
          - vuls-data-raw-r-osv
          - vuls-data-raw-redhat-appstream-lifecycle
          - vuls-data-raw-redhat-csaf
          - vuls-data-raw-redhat-cve
          - vuls-data-raw-redhat-cvrf
          - vuls-data-raw-redhat-osv
          - vuls-data-raw-redhat-ovalv1
          - vuls-data-raw-redhat-ovalv2
          - vuls-data-raw-redhat-package-manifest
          - vuls-data-raw-redhat-repository-to-cpe
          - vuls-data-raw-redhat-vex
          - vuls-data-raw-rocky-errata
          - vuls-data-raw-rocky-osv
          - vuls-data-raw-rootio
          # - vuls-data-raw-rubygems-db
          - vuls-data-raw-rubygems-ghsa
          - vuls-data-raw-rubygems-glsa
          - vuls-data-raw-rubygems-osv
          - vuls-data-raw-sick-csaf
          - vuls-data-raw-siemens-csaf
          - vuls-data-raw-snort
          - vuls-data-raw-suse-csaf
          - vuls-data-raw-suse-csaf-vex
          - vuls-data-raw-suse-cvrf
          - vuls-data-raw-suse-cvrf-cve
          - vuls-data-raw-suse-osv
          - vuls-data-raw-suse-oval
          - vuls-data-raw-swift-ghsa
          - vuls-data-raw-swift-osv
          - vuls-data-raw-ubuntu-cve
          - vuls-data-raw-ubuntu-cve-tracker
          - vuls-data-raw-ubuntu-notice
          - vuls-data-raw-ubuntu-osv
          - vuls-data-raw-ubuntu-oval
          - vuls-data-raw-ubuntu-usndb
          - vuls-data-raw-ubuntu-vex
          - vuls-data-raw-variot-exploits
          - vuls-data-raw-variot-vulns
          - vuls-data-raw-vulncheck-kev
          - vuls-data-raw-vulncheck-nist-nvd
          - vuls-data-raw-vulncheck-nist-nvd2
          - vuls-data-raw-wolfi-osv
          - vuls-data-raw-wolfi-secdb
          - vuls-data-raw-wrlinux
      pack-threads:
        required: true
        default: 2
        type: number
      pack-windowMemory:
        required: true
        default: 4g
        type: string

env:
  GOEXPERIMENT: jsonv2

jobs:
  gc:
    name: Git GC ghcr.io/${{ inputs.repository }}:${{ inputs.tag }}
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@v10
        with:
          root-reserve-mb: 32768
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
          remove-codeql: "true"
          remove-docker-images: "true"

      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: Install vuls-data-update
        run: go install github.com/MaineK00n/vuls-data-update/cmd/vuls-data-update@main

      - name: Pull ghcr.io/${{ inputs.repository }}:${{ inputs.tag }}
        run: vuls-data-update dotgit pull --dir . --checkout main ghcr.io/${{ inputs.repository }}:${{ inputs.tag }}

      - name: Print git gc before .git size
        id: before
        run: echo "size=$(du -sh ghcr.io/${{ inputs.repository }}/${{ inputs.tag }}/.git/ | cut -f1)" >> $GITHUB_OUTPUT

      - name: Set Git config
        run: |
          git -C ghcr.io/${{ inputs.repository }}/${{ inputs.tag }} config gc.auto 0
          git -C ghcr.io/${{ inputs.repository }}/${{ inputs.tag }} config pack.threads ${{ inputs.pack-threads }}
          git -C ghcr.io/${{ inputs.repository }}/${{ inputs.tag }} config pack.windowMemory ${{ inputs.pack-windowMemory }}

      - name: Run git gc
        run: /usr/bin/time -v git -C ghcr.io/${{ inputs.repository }}/${{ inputs.tag }} gc --aggressive --force

      - name: Print git gc after .git size
        id: after
        run: echo "size=$(du -sh ghcr.io/${{ inputs.repository }}/${{ inputs.tag }}/.git/ | cut -f1)" >> $GITHUB_OUTPUT

      - name: Summarize git gc
        run: |
          (
            echo ### git gc --aggressize ${{ inputs.tag }}
            echo "|      | before | after | "
            echo "| :--: | :----: | :---: | "
            echo "| size | ${{ steps.before.outputs.size }} | ${{ steps.after.outputs.size }} | "
          ) >> $GITHUB_STEP_SUMMARY

      - name: Create dotgit tarball
        run: vuls-data-update dotgit compress ghcr.io/${{ inputs.repository }}/${{ inputs.tag }}

      - name: Push ghcr.io/${{ inputs.repository }}:${{ inputs.tag }}
        run: vuls-data-update dotgit registry push --force --token ${{ secrets.GITHUB_TOKEN }} ghcr.io/${{ inputs.repository }}:${{ inputs.tag }} ${{ inputs.tag }}.tar.zst
