name: Push

on:
  workflow_dispatch:
    inputs:
      owner:
        required: true
        default: "vulsio"
        type: string
      target:
        required: true
        type: string

jobs:
  push:
    name: Push ${{ inputs.owner }}/${{ inputs.target }}/.git to ghcr.io/${{ github.repository }}:${{ inputs.target }}
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}/go
      GOEXPERIMENT: jsonv2
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@v10
        with:
          root-reserve-mb: 5120
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
          remove-codeql: "true"
          remove-docker-images: "true"

      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: "stable"
          cache: false

      - name: Install vuls-data-update
        run: go install github.com/MaineK00n/vuls-data-update/cmd/vuls-data-update@main

      - name: Check out ${{ inputs.owner }}/${{ inputs.target }}
        uses: actions/checkout@v6
        with:
          repository: ${{ inputs.owner }}/${{ inputs.target }}
          ref: main
          path: ${{ inputs.target }}
          fetch-depth: "0"

      - name: Set Git config
        run: |
          git -C ${{ inputs.target }} config gc.auto 0
          if git -C ${{ inputs.target }} remote | grep -q "^origin$"; then
            git -C ${{ inputs.target }} remote set-url origin ghcr.io/${{ github.repository }}:${{ inputs.target }}
          else
            git -C ${{ inputs.target }} remote add origin ghcr.io/${{ github.repository }}:${{ inputs.target }}
          fi
          git -C ${{ inputs.target }} config user.email "action@github.com"
          git -C ${{ inputs.target }} config user.name "GitHub Action"

      - name: Create dotgit tarball
        run: vuls-data-update dotgit compress ${{ inputs.target }}

      - name: Push ghcr.io/${{ github.repository }}:${{ inputs.target }}
        run: vuls-data-update dotgit registry push --force --token ${{ secrets.GITHUB_TOKEN }} ghcr.io/${{ github.repository }}:${{ inputs.target }} ${{ inputs.target }}.tar.zst
