name: Restore

on:
  workflow_call:
    inputs:
      repository:
        required: true
        type: string
      tag:
        required: true
        type: string
      tag-suffix:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      repository:
        required: true
        default: "vulsio/vuls-data-db-backup"
        type: string
      tag:
        required: true
        type: string
      tag-suffix:
        required: true
        default: "backup-manual"
        type: choice
        options:
          - backup-manual
          - backup-daily
          - backup-weekly
          - backup-monthly

jobs:
  restore:
    name: Restore ghcr.io/${{ inputs.repository }}:${{ inputs.tag }}-${{ inputs.tag-suffix }} to ghcr.io/${{ github.repository }}:${{ inputs.tag }}
    runs-on: ubuntu-latest
    env:
      GOEXPERIMENT: jsonv2
    steps:
      - name: Maximize build space
        uses: AdityaGarg8/remove-unwanted-software@v5
        with:
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
          remove-codeql: "true"
          remove-docker-images: "true"
          remove-large-packages: "true"
          remove-cached-tools: "true"
          remove-swapfile: "true"

      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: "stable"
          cache: false

      - name: Install vuls-data-update
        run: go install github.com/MaineK00n/vuls-data-update/cmd/vuls-data-update@main

      - name: Copy ghcr.io/${{ inputs.repository }}:${{ inputs.tag }}-${{ inputs.tag-suffix }} to ghcr.io/${{ github.repository }}:${{ inputs.tag }}
        run: vuls-data-update dotgit registry cp --force --token ${{ secrets.GITHUB_TOKEN }} ghcr.io/${{ inputs.repository }}:${{ inputs.tag }}-${{ inputs.tag-suffix }} ghcr.io/${{ github.repository }}:${{ inputs.tag }}
