name: Truncate Extracted

on:
  workflow_run:
    workflows: [Extract All]
    types:
      - completed
  workflow_dispatch:

jobs:
  truncate-extracted:
    strategy:
      fail-fast: false
      matrix:
        target:
          - alma-errata
          - alma-osv
          - alpine-osv
          - alpine-secdb
          - amazon
          - arch
          - cargo-ghsa
          - cisa-kev
          - eol
          - epss
          - fedora-api
          - freebsd
          - mitre-v5
          - nvd-api-cve
          - oracle-linux
          - redhat-csaf
          - redhat-csaf-rhel
          - redhat-ovalv1
          - redhat-ovalv1-rhel
          - redhat-ovalv2
          - redhat-ovalv2-rhel
          - redhat-vex
          - redhat-vex-rhel
          - rocky-errata
          - suse-oval
          - ubuntu-cve-tracker
    uses: ./.github/workflows/truncate.yml
    with:
      tag: vuls-data-extracted-${{ matrix.target }}
      threshold-mb: 1024
      log-ratio: 0.8
