name: Truncate

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      threshold-mb:
        required: true
        type: number
      log-ratio:
        required: true
        type: number
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: choice
        options:
          - vuls-data-extracted-alma-errata
          - vuls-data-extracted-alma-osv
          - vuls-data-extracted-alpine-osv
          - vuls-data-extracted-alpine-secdb
          - vuls-data-extracted-amazon
          - vuls-data-extracted-arch
          - vuls-data-extracted-cargo-ghsa
          - vuls-data-extracted-cisa-kev
          - vuls-data-extracted-eol
          - vuls-data-extracted-epss
          - vuls-data-extracted-fedora-api
          - vuls-data-extracted-freebsd
          - vuls-data-extracted-mitre-v5
          - vuls-data-extracted-nvd-api-cve
          - vuls-data-extracted-oracle-linux
          - vuls-data-extracted-redhat-csaf
          - vuls-data-extracted-redhat-csaf-rhel
          - vuls-data-extracted-redhat-ovalv1
          - vuls-data-extracted-redhat-ovalv1-rhel
          - vuls-data-extracted-redhat-ovalv2
          - vuls-data-extracted-redhat-ovalv2-rhel
          - vuls-data-extracted-redhat-vex
          - vuls-data-extracted-redhat-vex-rhel
          - vuls-data-extracted-rocky-errata
          - vuls-data-extracted-suse-oval
          - vuls-data-extracted-ubuntu-cve-tracker
      threshold-mb:
        required: true
        type: number
      log-ratio:
        required: true
        type: number

defaults:
  run:
    shell: bash

jobs:
  check-before-gc:
    name: Check Layer Size before Git GC
    uses: ./.github/workflows/check-layer-size.yml
    with:
      repository: ${{ github.repository }}
      tag: ${{ inputs.tag }}
      media-type: application/vnd.vulsio.vuls-data-db.dotgit.layer.v1.tar+zstd
      threshold-mb: ${{ inputs.threshold-mb }}

  gc:
    name: Git GC ${{ inputs.tag }}
    needs: [check-before-gc]
    if: ${{ needs.check-before-gc.outputs.exceeded == 'true' }}
    uses: ./.github/workflows/gc.yml
    with:
      repository: ${{ github.repository }}
      tag: ${{ inputs.tag }}
      pack-threads: 2
      pack-windowMemory: 4g

  check-after-gc:
    name: Check Layer Size after Git GC
    needs: [gc]
    uses: ./.github/workflows/check-layer-size.yml
    with:
      repository: ${{ github.repository }}
      tag: ${{ inputs.tag }}
      media-type: application/vnd.vulsio.vuls-data-db.dotgit.layer.v1.tar+zstd
      threshold-mb: ${{ inputs.threshold-mb }}

  truncate:
    name: Truncate ${{ inputs.tag }}
    runs-on: ubuntu-latest
    needs: [check-after-gc]
    if: ${{ needs.check-after-gc.outputs.exceeded == 'true' }}
    env:
      GOPATH: ${{ github.workspace }}/go
      GOEXPERIMENT: jsonv2
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@v10
        with:
          root-reserve-mb: 5120
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
          remove-codeql: "true"
          remove-docker-images: "true"

      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: "stable"
          cache: false

      - name: Install vuls-data-update
        run: go install github.com/MaineK00n/vuls-data-update/cmd/vuls-data-update@main

      - name: Pull ghcr.io/${{ github.repository }}:${{ inputs.tag }}
        run: vuls-data-update dotgit pull --dir . --checkout main ghcr.io/${{ github.repository }}:${{ inputs.tag }}

      - name: Decide log length
        id: decide_log_length
        run: |
          TOTAL=$(git -C ghcr.io/${{ github.repository }}/${{ inputs.tag }} log --oneline main | wc -l)
          LENGTH=$(echo "scale=0; ${TOTAL} * ${{ inputs.log-ratio }} / 1" | bc)
          echo "Will truncate log length ${TOTAL} -> ${LENGTH}"
          echo "length=${LENGTH}" >> ${GITHUB_OUTPUT}

      - name: Truncate dotgit
        run: |
          echo "Create the trucated repository..."
          git clone --depth ${{ steps.decide_log_length.outputs.length }} --no-single-branch --no-checkout --branch main --config gc.auto=0 file://${PWD}/ghcr.io/${{ github.repository }}/${{ inputs.tag }} ${{ inputs.tag }}
          git -C ${{ inputs.tag }} reset
          git -C ${{ inputs.tag }} branch nightly origin/nightly

          rm -rf ghcr.io/${{ github.repository }}/${{ inputs.tag }}
          vuls-data-update dotgit compress ${{ inputs.tag }}

      - name: Push truncated dotgit
        run: vuls-data-update dotgit registry push --force --token ${{ secrets.GITHUB_TOKEN }} ghcr.io/${{ github.repository }}:${{ inputs.tag }} ${{ inputs.tag }}.tar.zst
